{%extends "base.html" %}

{%block body_attributes %}
onload="initDoc();"
{%endblock%}


{% block content %}

<form name="compForm" method="post" action="" onsubmit="this.myDoc.value=oDoc.innerHTML;return true;">
{%csrf_token%}

<table>

<tr>
<td>Article Title:</td> 
<td><input type="text" name="articleTitle" 
{% if article%} 
value="{{article.name}}"
{%endif%} />
</td>
</tr>

<tr>
<td>Author:</td>
<td><input type="text" name="articleAuthor" value="
{% if article.author %}
{{article.author.username}}
{% else %}
{{ user.username }}
{% endif%}
" />
</tr>

<tr>
<td>Stage:</td>
<td><input type="text" name="articleStage" 
{% if article %}
value="{{article.stage}}" 
{%endif%}
/></td>
</tr>

{% if not script %}
<tr> 
<td>Script</td>
<td>
<select name="articleScript">
<option value="lat">Latin</option>
<option value="cyr">Cyrilic</option> 
</select>
</td>
</tr>
{% endif %}
</table>

<input type="hidden" name="myDoc">
<div id="toolBar">
<select onchange="formatDoc('formatblock',this[this.selectedIndex].value);this.selectedIndex=0;">
<option selected>- formatting -</option>
<option value="h3">Subtitle</option>
<option value="p">Paragraph</option>
<option value="code">Code</option>
</select>

<div class="tool">
<img class="intLink" title="Undo" onclick="formatDoc('undo'); toggle(this)" 
src="data:image/gif;base64,R0lGODlhFgAWAOMKADljwliE33mOrpGjuYKl8aezxqPD+7/I19DV3NHa7P///////////////////////yH5BAEKAA8ALAAAAAAWABYAAARR8MlJq7046807TkaYeJJBnES4EeUJvIGapWYAC0CsocQ7SDlWJkAkCA6ToMYWIARGQF3mRQVIEjkkSVLIbSfEwhdRIH4fh/DZMICe3/C4nBQBADs=" 
/>
</div>

<div class="tool">
<img class="intLink" title="Redo" onclick="formatDoc('redo'); toggle(this)" 
src="data:image/gif;base64,R0lGODlhFgAWAMIHAB1ChDljwl9vj1iE34Kl8aPD+7/I1////yH5BAEKAAcALAAAAAAWABYAAANKeLrc/jDKSesyphi7SiEgsVXZEATDICqBVJjpqWZt9NaEDNbQK1wCQsxlYnxMAImhyDoFAElJasRRvAZVRqqQXUy7Cgx4TC6bswkAOw==" 
/>
</div>

<div class="tool">
<img class="intLink" title="Bold" onclick="formatDoc('bold'); toggle(this)" src="data:image/gif;base64,R0lGODlhFgAWAID/AMDAwAAAACH5BAEAAAAALAAAAAAWABYAQAInhI+pa+H9mJy0LhdgtrxzDG5WGFVk6aXqyk6Y9kXvKKNuLbb6zgMFADs=" />
</div>

<div class="tool">
<img class="intLink" title="Italic" onclick="formatDoc('italic'); toggle(this)" src="data:image/gif;base64,R0lGODlhFgAWAKEDAAAAAF9vj5WIbf///yH5BAEAAAMALAAAAAAWABYAAAIjnI+py+0Po5x0gXvruEKHrF2BB1YiCWgbMFIYpsbyTNd2UwAAOw==" />
</div>

<div class="tool">
<img class="intLink" title="Underline" onclick="formatDoc('underline'); toggle(this)" src="data:image/gif;base64,R0lGODlhFgAWAKECAAAAAF9vj////////yH5BAEAAAIALAAAAAAWABYAAAIrlI+py+0Po5zUgAsEzvEeL4Ea15EiJJ5PSqJmuwKBEKgxVuXWtun+DwxCCgA7" />
</div>

<div class="tool">
<img class="intLink" title="Numbered list" onclick="formatDoc('insertorderedlist'); toggle(this)" src="data:image/gif;base64,R0lGODlhFgAWAMIGAAAAADljwliE35GjuaezxtHa7P///////yH5BAEAAAcALAAAAAAWABYAAAM2eLrc/jDKSespwjoRFvggCBUBoTFBeq6QIAysQnRHaEOzyaZ07Lu9lUBnC0UGQU1K52s6n5oEADs=" />
</div>

<div class="tool">
<img class="intLink" title="Dotted list" onclick="formatDoc('insertunorderedlist'); toggle(this)" src="data:image/gif;base64,R0lGODlhFgAWAMIGAAAAAB1ChF9vj1iE33mOrqezxv///////yH5BAEAAAcALAAAAAAWABYAAAMyeLrc/jDKSesppNhGRlBAKIZRERBbqm6YtnbfMY7lud64UwiuKnigGQliQuWOyKQykgAAOw==" />
</div>

<div class="tool">
<img class="intLink" title="Hyperlink" onclick="var sLnk=prompt('Write the URL here','http:\/\/');if(sLnk&&sLnk!=''&&sLnk!='http://'){formatDoc('createlink',sLnk)}" src="data:image/gif;base64,R0lGODlhFgAWAOMKAB1ChDRLY19vj3mOrpGjuaezxrCztb/I19Ha7Pv8/f///////////////////////yH5BAEKAA8ALAAAAAAWABYAAARY8MlJq7046827/2BYIQVhHg9pEgVGIklyDEUBy/RlE4FQF4dCj2AQXAiJQDCWQCAEBwIioEMQBgSAFhDAGghGi9XgHAhMNoSZgJkJei33UESv2+/4vD4TAQA7" />
</div>

</div>
<div id="textBox" contenteditable="true">
{%if article%} 
	{%if script == "cyr"%}
		{{article.contents_cyr|safe}}
	{%else%}
		{{article.contents_lat|safe}}
	{%endif%}
{% else %}
	<p>Write some text here</p>
{%endif%}
</div>
<p><input type="submit" value="Send" /></p>
</form>

{% endblock %}
