<html>
    <head>
        <title>LiBRE! - Welcome to liberator...</title>
    </head>

    <body>
        <h1>Articles on dokuwiki</h1>
        <ol>
        {% for article in dokuwiki_articles %}
            <li>{{ article.name }} - 
	    <a href="https://libre.lugons.org/wiki/doku.php?id={{ article.source_lat }}">Latin</a> 
	    <a href="https://libre.lugons.org/wiki/doku.php?id={{ article.source_cyr }}">Cyrilic</a>
	    <a href={%url "wiki_import" article.source_lat%}>Import to database</a>
	    </li>
        {% endfor %}
        </ol>

        <h1>Articles stored in liberator db</h1>

        <ol>
        {% for article in stored_articles %}
            <li><a href="{% url "article_view" article.pk %}">{{ article.name }}</a></li>
        {% endfor %}
        </ol>
    </body>
</html>
