{%extends "base.html" %}

{% block content %}


<div class="row">
<div class="col-sm-4">
<h1>{{article.name}} </h1>

<p>Author: {{article.author}}</p>
<p>Stage: {{article.stage}}</p>
</div>
<div class="col-sm-8">

<ul>
<li><a href="{% url "article_diff" article.pk %}">See difference between liberator article and current wiki article</a></li>
<li><a href="{% url "article_submit" article.pk "lat"%}">Edit Lat</a></li>
<li><a href="{% url "article_submit" article.pk "cyr"%}">Edit cyr</a></li>
<li><a href="{% url "article_delete" article.pk %}">Delete this article</a></li>
<li><a href="{% url "article_approve" article.pk%}">Approve this article</a></li>
</ul>

</div>
</div>

<ul class="nav nav-pills">
<li id="lat-activator" role="presentation" ><a href="#" onclick='
document.getElementById("article-content-area").innerHTML = document.getElementById("article-content-lat").innerHTML;

document.getElementById("lat-activator").className="active";
document.getElementById("cyr-activator").className="";
'>Latin</a></li>

<li id="cyr-activator" role="presentation" ><a href="#" onclick='
document.getElementById("article-content-area").innerHTML = document.getElementById("article-content-cyr").innerHTML;

document.getElementById("lat-activator").className="";
document.getElementById("cyr-activator").className="active";
'>Cyrilic</a></li>
</ul>

<div id="article-content-area"> 

</div>



<div class="article-content" id="article-content-lat" hidden>
{{article.contents_lat|safe}}
</div> 

<div class="article-content" id="article-content-cyr" hidden>
{{article.contents_cyr|safe}}
</div>

{% endblock %}
