<html>
    <head>
        <title>LiBRE! - Welcome to liberator...</title>
    </head>

    <body>

    {% if user.is_authenticated %} 
    	Logged in 
    {% else %}
    	<a href="{% url "author_login"%}">Log in</a>
    {% endif %}
        <h1>Articles on dokuwiki</h1>
        <ol>
        {% for article in dokuwiki_articles %}
            <li>
	    <a href="https://libre.lugons.org/wiki/doku.php?id={{ article.wiki_slug}}">{{article.name}}</a> 
	    <a href={%url "wiki_import" article.wiki_slug "lat"%}>Import to database (lat)</a>
	    <a href={%url "wiki_import" article.wiki_slug "cyr"%}>Import to database (cyr)</a>
	    {% if article.article_with_same_title%}
	    	<a href="{% url "wiki_extend" article.wiki_slug article.article_with_same_title.pk "lat" %}">Extend to lat</a>
		<a href="{% url "wiki_extend" article.wiki_slug article.article_with_same_title.pk "cyr" %}">Extend to cyr</a>
	    {% endif %}
	    </li>
        {% endfor %}
        </ol>

        <h1>Articles stored in liberator db</h1>

        <ol>
        {% for article in stored_articles %}
            <li><a href="{% url "article_view" article.pk %}">{{ article.name }}</a></li>
        {% endfor %}
        </ol>
    </body>
</html>
