
#header 
{
	background-color: #006BB2;
	color: white;
	padding:10px;
	padding-bottom: 10px;
}

#header * 
{
	margin: 10px; 
}

#header a 
{
	color: white; 
	text-decoration: none; 
	display: block; 
}

#header #logo 
{
	float: left; 
}

#header #mainmenu 
{
	float: left; 
}

#header #profile 
{
	text-align: right; 
}

