
#base-navigation 
{
	background-color: #006BB2;
	color: white;
	padding:10px;
	padding-bottom: 10px;
}

#base-navigation a 
{
	color: white; 
}

#base-navigation a:hover 
{
	background-color: #009BB2;
}
