{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Liberator{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "style.css"%}">
  <link rel="stylesheet" href="{% static "editor-style.css"%}">
  <script src="{% static "editor.js" %}"></script>
</head>

<body {%block body_attributes%} {%endblock%}>



<nav id="base-navigation" class="navbar navbar-default">
<div class="container-fluid">
<a class="navbar-brand" href="#">Liberator</a>
<ul class="nav navbar-nav">
	<li><a href="{% url "article_list" %}">List articles</a></li>
	<li><a href="{% url "article_submit"%}">Create new article</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
	{% if user.is_authenticated%} 
		<li>{{user.username}}</li>
		<li><a href="{% url "author_logout"%}">Logout</a></li>
	{% else %}
		<li><a href="{%url "author_login"%}">Login</a></li>
	{% endif %}
</ul>
</div>
</nav>
		



<div class="container">

{%block content%}

{%endblock%}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>
